<h1>Technology</h1>
<p>llamado desde mi technology</p>
<h1>Hola Mundo</h1>
<p>fecha actual <%= Time.now%></p>
<p>fecha formateada <%= Time.now.strftime("%Y-%m-%d %H:%M")%></p>
<p>fecha formateada <%= Time.now.strftime("%d-%m-%Y")%></p>
<%if Time.now.year >=2023 %>
    <p>Version 2.0</p>
<%else%>
<%= puts "Version 2.0"%>
    <p>Version 1.0</p>
<%end%>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

